<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Demo images are static files. Never execute an uploaded script. -->
    <handlers accessPolicy="Read">
      <clear />
      <add name="StaticUploads" path="*" verb="GET,HEAD" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
    </handlers>
  </system.webServer>
</configuration>
